.modalWrapper {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sessionTimerWrapper {
  width: 70%;
  height: auto;
  background-color: gray;
  color: rgb(140, 226, 212);
  border-radius: 12px;
  box-shadow: 5px 5px 7px gray;
  margin: 10vh auto;
  text-align: center;
  position: relative;
}
h1 {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 3px 7px rgb(37, 36, 36);
}
table {
  margin: 3vh auto;
  width: 80%;
}
table thead {
  height: 12vh;
  color: rgb(2, 10, 122);
  text-shadow: 3px 3px 7px rgb(1, 30, 54);
}
table tr {
  height: 5vh;
  font-size: calc(var(--index));
}
table td {
  height: 3vh;
  font-size: calc(var(--index));
  color: rgb(5, 199, 248);
  text-shadow: 3px 3px 5px rgb(1, 35, 66);
}
.closeModal {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background: transparent;
  border: none;
  font-size: calc(var(--index));
  cursor: pointer;
  transition: 1s;
}
.closeModal:hover {
  text-shadow: 3px 3px 7px rgb(30, 255, 0);
  transform: scale(120%);
}
.cleareStorage {
  margin: 5vh auto 0;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-style: italic;
  transition: 1s;
}
.cleareStorage:hover {
  box-shadow: inset 2px 2px 1px rgb(30, 255, 0);
  transform: scale(120%);
}
