.dark {
  background-color: rgb(32, 32, 32);
}

.timerContainer {
  width: 80vw;
  min-height: 80vh;
  margin: 2.5vh auto;
  border-radius: 15px;
  background-color: rgb(12, 69, 102);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  flex-direction: column;
  position: relative;
}
.darkMode {
  box-shadow: 7px 7px 25px rgb(0, 255, 179), 15px 15px 65px rgb(18, 139, 139),
    20px 20px 100px rgb(110, 175, 197);
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  gap: calc(var(--index) * 2);
}
.btn {
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 2);
  border-radius: 7px;
  border: none;
  font-size: calc(var(--index) * 1.6);
  letter-spacing: 0.9vw;
  text-align: center;
  background-color: rgb(8, 253, 0);
  color: rgb(233, 216, 216);
  text-shadow: 3px 3px 3px gray, 5px 5px 15px gray, 10px 10px 20px gray;
  transition: 0.3s;
}
.btnInfo {
  width: calc(var(--index) * 7);
  height: calc(var(--index) 1.5);
  font-size: calc(var(--index));
  margin-bottom: 3vh;
}
.btn:hover {
  cursor: pointer;
  color: orangered;
  box-shadow: 3px 3px 3px rgb(2, 116, 2), 5px 5px 5px rgb(1, 155, 1),
    10px 10px 30px rgb(1, 231, 1);
  transform: translateY(-5px);
}
.btn:active:hover {
  transform: translateY(-1px);
  box-shadow: 1px 1px 2px rgb(2, 116, 2), 3px 3px 3px rgb(1, 155, 1),
    5px 5px 10px rgb(1, 231, 1);
}
.setTimerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 3vh;
  font-size: calc(var(--index));
  color: rgb(92, 252, 199);
  text-shadow: 3px 3px 10px rgb(255, 115, 0);
}
#setterTime {
  width: calc(var(--index) * 5);
  height: calc(var(--index) * 1.7);
  font-size: calc(var(--index));
  border-radius: 7px;
  background-color: rgb(2, 252, 231);
  color: rgb(252, 95, 5);
  cursor: pointer;
  box-shadow: inset 3px 3px 5px rgb(112, 52, 2);
  padding: 0.5vw;
}
.soundChooseWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
  margin: 0 auto;
}
.soundChooseWrapper label {
  color: rgb(92, 252, 199);
  text-shadow: 3px 3px 10px rgb(255, 115, 0);
}
#soundChoose {
  cursor: pointer;
  background-color: rgb(2, 252, 231);
  box-shadow: inset 2px 2px 3px rgb(112, 52, 2);
  color: rgb(252, 95, 5);
  border-radius: 7px;
  border: none;
}

.visible {
  display: none;
}
