.displayWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin:5vh auto 0;
  width: 25%;
  font-size: calc(var(--index) * 5);
  color: orangered;
  text-shadow: 3px 3px 2px rgb(83, 23, 2), 4px 4px 7px rgb(250, 93, 36),
    5px 5px 27px rgb(72, 248, 2);
  transition: 0.7s all ease-in-out;
}
.displayDarkMode {
  box-shadow: 3px 3px 2px rgb(1, 34, 49), 4px 4px 7px rgb(2, 82, 119),
    7px 7px 107px rgb(2, 149, 218);
  border-radius: 12px;
}
